//Bootstrap less files
@import "/lib/bootstrap/bootstrap.import.less";

//Components
@import "/client/stylesheets/components/landing-page.import.less";
@import "/client/stylesheets/components/profile.import.less";
@import "/client/stylesheets/components/nav.import.less";
@import "/client/stylesheets/components/user-list.import.less";
@import "/client/stylesheets/components/chat-bubble.import.less";

//Color scheme
@import "./color-scheme.import.less";

/*
  General
*/
div#app-content {
  height: 100%;
}

div#content {
  height: 100%;
  margin-top: 40px;
}

div.container {
  position: relative;
  z-index: 0;
}

div.section-content {
  height: 100%;
  width: 100%;
  padding: 0 0 0 300px;
}